*, *:before, *:after {
    box-sizing: border-box;
  }
.navbar {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.navbar h1 {
    font-weight: 1000;
}
.leggTil {
    padding: 10px;
    height: 120px;
    width: 600px;
    margin: 0 auto;
}
.bokInfo {
    position: relative;
    height: 90px;
    width: 455px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    letter-spacing: 2px;
    font-weight: 300;
    text-align: center;
}
.tittel {
    float:left;
    width: 150px;
}
.forfatter {
    float:left;
    width: 150px;
}
.sideantall {
    float:left;
    width: 150px;
}
.leggtilKnapp {
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 0.2px solid grey;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    
}
.leggtilKnapp:hover {
    background-color: grey;
    
}
.boker {
    position: relative;
    width: 605px;
    margin: 0 auto;    
}
.bok {
    
    padding: 20px;
    float:left;
    width: 195px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 130px;
    margin: 2px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.tittelBok {
    font-weight: 800;
}
.forfatterBok {
    font-weight: 400;
}
.sideantallBok {
    font-weight: 200;
}
.erLest {
    position: aboslute;
    text-align: center;
    font-size:14px;
    width: 80px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer;
}
.fjern {
    position: aboslute;
    text-align: center;
    font-size:14px;
    width: 80px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px auto;
    cursor: pointer;
}


